<template>
    <div>
        Home page

        <div v-if="loggedIn()">
            You are logged in
        </div>
        <div v-else>
            you are not logged in
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        name: "HomePage",
        computed: {
            ...mapGetters([
                'loggedIn'
            ])
        }

    }
</script>

<style scoped>

</style>