<template>
    
</template>

<script>
    export default {
       created(){
           this.$store.commit('CLEAR');

           this.$store.dispatch('destroyToken')
               .then(()=>{
                   this.$router.push({ path: '/' });
               });
       }
    }
</script>

<style scoped>

</style>