<template>
    <div>
        <div class="flex">
            <div class="w-1/5 bg-gray-500">
                <div class="w-4 h-8 relative top-0 border-l-2 border-red-400 fixed"
                     :stlye="setTop"></div>


                <div class="top-0">
                    <div v-for="tab in tabs" @click="setTab(tab.id)"
                         class="h-8 relative flex items-center cursor-pointer">

                        <div class="absolute  pl-2">
                            {{tab.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-4/5 bg-gray-200">
                Body
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MyAccountPage",
        data(){
            return {
                tabs: [
                    {
                        name: 'Tab 1',
                        active: true,
                        id: 0
                    },
                    {
                        name: 'Tab 2',
                        active: false,
                        id: 1
                    },
                    {
                        name: 'Tab 3',
                        active: false,
                        id: 2
                    }
                ]
            }
        },
        methods: {
            setTab(id){
                this.tabs.map((el) =>{
                    el.active = false;

                    if(el.id === id){
                        el.active = true;
                    }

                })
            }
        },
        computed:{
            setTop (){
                return {
                    top: '20%'
                }
            }
        }
    }
</script>

<style scoped>

</style>