<template>
    <div class="bg-gray-300 p-4 mb-4 flex justify-between"
            :class="{'items-center': !edit}">
        <div v-if="!edit">
            <div>
                <div>
                    {{recipe.title}}
                </div>
                <div>
                    {{recipe.content}}
                </div>
            </div>
        </div>
        <div v-else>
            <div class="mb-4">
                <text-input :input.sync="title" :value="recipe.title"></text-input>
            </div>

            <input-text-area :input.sync="content" :value="recipe.content"></input-text-area>
        </div>



        <div class="relative flex mb-auto">
            <div   @click="deleteRecipe(recipe.id)"
                 class="cursor-pointer bg-red-500 text-white p-4 select-none mr-4 ">
                Delete
            </div>
            <div @click="toggleEdit"
                  class="cursor-pointer bg-green-500 text-white p-4 select-none">
                <span v-if="!edit">Edit</span>
                <span v-else>Save</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RecipeItem",
        props:['recipe'],
        data(){
            return {
                edit: false,
                title: '',
                content: ''
            }
        },
        methods: {
            deleteRecipe(id){
                axios.post('/api/delete-recipe/' + id).then(()=>{
                    this.$store.dispatch('getRecipes');
                });
            },
            toggleEdit(){
                if(this.edit){
                    this.$store.dispatch('editRecipe', {
                        title: this.title,
                        content: this.content,
                        id: this.recipe.id
                    }).then(() => {
                        this.edit = !this.edit;
                    });
                } else {
                    this.edit = !this.edit;
                }

            }
        },
        mounted(){
            this.title = this.recipe.title;
            this.content = this.recipe.content;
        }
    }
</script>

<style scoped>

</style>