@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.transition-all {
  transition: all ease 0.5s;
}

.nav-btn {
  @apply cursor-pointer;
  @apply text-black;
  @apply p-4;
  @apply flex;
  @apply justify-center;

  transition: background-color ease 0.5s;

  &:hover{
    @apply bg-gray-400;
  }
}