<template>
   <div>
       <nav-bar></nav-bar>

      <div class="pt-40">
          <router-view></router-view>
      </div>
   </div>
</template>

<script>

    export default {
        data(){
            return {

            }
        },
        mounted(){
            // this.$router.push({ path: '/recipes' });
            // this.$router.push({ path: '/' });
            this.$router.push({ path: '/account' });

            this.$store.dispatch('fetchData');
        }
    }
</script>
