<template>
    <div class="w-full fixed py-8 bg-blue-100 left-0 shadow-lg z-50">
        <div class="container m-auto flex justify-between">
            <router-link to="/" class="bg-blue-200 p-4 w-32 flex justify-center rounded-full hover:shadow-lg transition-all">
                App
            </router-link>

            
            <div class="relative">
                <div @click="showDropdown = !showDropdown" class="rounded-full h-12 w-12 bg-green-500 cursor-pointer"></div>

                <transition name="fade">
                    <div class="flex absolute right-0 flex-col bg-red-200" v-if="showDropdown">
                        <router-link v-if="!loggedIn()" to="/login" class="nav-btn">
                            Login
                        </router-link>
                        <router-link v-else to="/logout" class="nav-btn">
                            Logout
                        </router-link>

                        <router-link v-if="!loggedIn()" to="/register" class="nav-btn">
                            Register
                        </router-link>

                        <router-link to="/recipes" class="nav-btn">
                            Recipes
                        </router-link>

                        <router-link to="/account" class="nav-btn">
                            Account
                        </router-link>
                    </div>
                </transition>
            </div>
            

        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        name: "NavBar",
        data(){
            return {
                showDropdown: false
            }
        },
        computed: {
            ...mapGetters([
                'loggedIn'
            ])
        }
    }
</script>

<style scoped>

</style>