<template>
    <div>
        <div class="card-header text-xl font-bold mb-4">Recipe List</div>

        <transition-group name="fade">
            <recipe-item v-for="recipe in recipes" :key="recipe.id" :recipe="recipe"/>
        </transition-group>

        <add-recipe></add-recipe>
    </div>
</template>

<script>
    import { mapState } from 'vuex';

    export default {
        data(){
            return {
                list: []
            }
        },
        mounted() {
            this.$store.dispatch('getRecipes');
        },
        computed: {
            ...mapState({
                recipes: state => state.recipes
            })
        }
    }
</script>
