<template>
    <div class="flex flex-col bg-gray-800 text-white p-8">
        <div class="mb-12 flex flex-col">
            <div class="mr-4 mb-4">Title</div>
            <input class="text-black" type="text" v-model="title">
        </div>

        <div class="flex mb-4 flex flex-col">
            <div class="mr-4 mb-4">Content</div>
            <textarea class="text-black" name="" id="" cols="30" rows="10" v-model="content"></textarea>
        </div>

        <div @click="addRecipe"
             class="cursor-pointer bg-green-400 rounded p-4
                    text-black w-1/4 text-center
                    hover:bg-white hover:text-black">
            Sumbit
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddRecipe",
        data(){
            return {
                title: '',
                content: ''
            }
        },
        methods: {
            addRecipe(){
                let payload = {
                    title: this.title,
                    content: this.content
                };

                this.$store.dispatch('addRecipe')
                axios.post('/api/add-recipe', payload).then((res) => {
                    this.$store.dispatch('getRecipes')
                });
            }
        }
    }
</script>

<style scoped>

</style>