<template>
    <div class="h-32">
        <textarea @keyup="emitText" :value="value" class="p-4 shadow h-full"></textarea>
    </div>
</template>

<script>
    export default {
        name: "InputTextArea",
        props: ['value'],
        methods: {
            emitText(val){
                this.$emit('update:input', val.target.value)
            }
        }
    }
</script>

<style scoped>

</style>