<template>
    <div>
        <h1 class="font-bold text-3xl">Login</h1>

        <div class="bg-gray-400 p-8">
            <div class="w-1/2 mb-4">
                <text-input :input.sync="user.email" name="Email"></text-input>
            </div>

            <div class="w-1/2 mb-4">
                <text-input :input.sync="user.password" name="Password"></text-input>
            </div>

            <div @click="submit" class=" cursor-pointer bg-red-500 p-4 w-24 flex justify-center text-white">
                Login
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoginForm",
        data(){
            return {
                user: {
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            submit(){
                this.$store.dispatch('retrieveToken', {
                    ...this.user
                }).then(() => {
                    this.$router.push({ path: '/recipes' });
                })

            }
        }
    }
</script>

<style scoped>

</style>