<template>
    <div class="flex flex-col">
        <label class="text-lg">{{name}}</label>
        <input @keyup="emitText" :value="value" type="text" class="h-10 px-4">
    </div>
</template>

<script>
    export default {
        name: "TextInput",
        props:['name', 'value'],
        methods: {
            emitText(val){
                this.$emit('update:input', val.target.value)
            }
        }
    }
</script>

<style scoped>

</style>